<h1>Register</h1>

<form method="post" asp-action="Register">
    <label>
        Username: 
        <input name="username" />
    </label>
    <label>
        Password: 
        <input name="password" type="password"/>
    </label>
    <button type="submit">Register</button>
</form>
